@import './vars.sass'
@import './common.sass'
@import './common-docked.sass'

.item
  @extend .item
  &.hasSubitems:after
    content: '\25BA'
    position: absolute
    opacity: 0.6
    right: 5px
    top: 5px
  .subitems
    position: absolute
    top: 0
    left: 100%
    width: $width
    .subitem
      @extend .item

.docked
  .item
    @extend .item-docked    
    border: 0 !important    
    &.hasSubitems:after
      content: ''
    .subitems
      left: 0
      top: auto
      bottom: 100%
      min-width: $width
      .item
        width: 100%
        &.hasSubitems:after
          content: '\25BA'
        .subitems
          left: 100%
          top: 0
          bottom: auto
          width: $width